.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 3rem;
  min-height: 100vh;
  background-color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.canvasContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.expanded {
  flex: 1;
}